body {
  overflow-x: hidden;
}

.navbar .navlink {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 10% 100%);
}

.carousel-header-one {
  animation: moveInLeft 1s ease-out;
}

.carousel-header-two {
  animation: moveInBottom 1s ease-in;
}

.carousel-header-three {
  animation: moveInRight 1s ease-out;
}

.carousel-image-1 {
  background: url('../img/carousel-1.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/carousel-2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/carousel-3.jpg');
  background-size: cover;
}

.aboutus {
  animation: rotate 1s ease-in;
}

.services {
  animation: moveInTop 1s ease-in;
}

.blog {
  animation: moveInRight 1s ease-in;
}

.contactus {
  animation: emergence 3s ease-in;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../img/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.card-zoom {
  transition: 0.5s;
}
.card-zoom:hover {
  transform: scale(1.5);
  z-index: 100;
}

#bar {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url('../img/page-header-3.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444 !important;
}

#faq a {
  color: #fff;
  text-decoration: none !important;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
  background: black;
  color: white;
}

@keyframes rotate {
  60% {
    transform: rotate(180deg);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); /* rotate(-50deg); rotate example*/
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes emergence {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
